body {
  background-color: #f9fdff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.current {
  background: #dc7f9b;
  color: white;
  font-weight: 700;
  border: 1px solid #824670;
}
button {
  background: white;
  padding: 0.5rem 0.8rem;
  border: 1px solid gray;
  border-radius: 4px;
  margin-right: 5px;
}

.heading {
  padding: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#controls {
  padding: 2rem;
  text-align: center;
}
.table-container {
  width: 80%;
  overflow-x: scroll;
  margin: 0 auto;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

table td,
table th {
  border: 1px solid rgb(219, 218, 218);
  padding: 8px;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #034748;
  color: white;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  background-color: #2d2d2d;
}
footer p {
  padding: 0;
  color: rgb(177, 177, 177);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
@media (max-width: 767px) {
  .table-container {
    width: 100%;
    overflow-x: scroll;
  }
  table {
    width: 100%;
  }
  #controls {
    padding: 1.6rem 0.2rem;
  }
  button {
    padding: 0.2rem 0.5rem;
  }
}
